body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  background-color: #d7e3f3; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.image{
  max-width: 60px;
  max-height: auto;
}

.pageLinks button{
  position: relative;
  top: 0vh;
  left: 12vw;
  font-family: 'Spartan', sans-serif;
  font-size: medium;
  color: rgb(100, 99, 99);
  text-align: center;
  padding: 10px;
  border: none;
  background-color: #d7e3f3;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  margin-bottom: 0;
  width: 100%;
  background-color: #074e7e;
  color: whitesmoke;
  text-align: left;
}
.newSub{
  padding: 30px;
  padding-left: 40px;
}
.form{
  padding-left: 40px;

}
input[type=submit]{
  width: 422px;
  padding: 12px 18px;
  margin: 20px 0;
  border-radius: 7px;
  cursor: pointer;
}
input[type=text]{
  width: 422px;
  padding: 12px 20px;
  margin: 8px 0;
  display: list-item;
  box-sizing: border-box;
  border-radius: 7px;
  outline: none;
}

input:focus{
  background-color: #d8d9dd;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavbarItems {
  background: #074e7e;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 25px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 5px;
}

#nav-links-button {
  text-decoration: none;
}


.nav-links:hover {
  background-color: #1e900a;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.header__logo {
  height: 50px;
  object-fit: contain;
  color: #fff;
  justify-self: start;
  margin-left: 20px;
}

