body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  background-color: #d7e3f3; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Header{
  font-family: 'Spartan', sans-serif;
  position: sticky;
  top: 0;
  padding: 30px;
  background-color: #074e7e;
  padding-top: 1px;
  padding-left: 40px;
  z-index: 8;
  color: whitesmoke;
}

.pageLinks button{
  position: relative;
  top: 0vh;
  left: 12vw;
  font-family: 'Spartan', sans-serif;
  font-size: medium;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  border: none;
  background-color: #9bd1f5;
}

.pageLinks button:hover{
  cursor: pointer;
  background-color: #d7e3f3;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  margin-bottom: 0;
  width: 100%;
  background-color: #074e7e;
  color: whitesmoke;
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
